body {
  margin: 0;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  /* Account for 90px header + 10px buffer */
}

a {
  text-decoration: none;
  color: inherit;
}